<div class="card-vignette rounded-5 mx-auto border border-1 my-3">
  <p><%= link_to restaurant.name, restaurant_path(restaurant),  class: "text-deco-none" %></p>
  <p><%= restaurant.rating %> </p>
  <p><%= restaurant.address %> </p>
</div>
