<div id="carouselShow" class="carousel slide" style="margin-top: 80px;" data-bs-ride="carousel">
  <div class="carousel-inner  w-100">
    <% restaurant.images.each_with_index do |image, index|%>
      <div class="carousel-item <%= "active" if index.zero? %>" style="height: 450px;">
        <%= cl_image_tag image.key, class: "carrousel-image d-block w-100 h-100" %>
      </div>
    <% end %>
  </div>
  <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#collectionModal" }, class: "bouton-icon btn-position" do %>
    <i class="fa-solid fa-bookmark" style="color: white;"></i>
  <% end %>
</div>
