<div class="restaurant-card">
  <%#= image_tag saved_restaurant.restaurant.images %>
  <%= image_tag saved_restaurant.restaurant.images.sample, class: "restaurant-card-image" %>
  <h5 class="restaurant-title"><%= saved_restaurant.restaurant.name %></h5>
  <p class="restaurant-text"><%= saved_restaurant.restaurant.category %></p>
  <p class="restaurant-category"><%= saved_restaurant.restaurant.address %></p> <!--TODO: Possible d'afficher que la Ville+CodePostal-->
  <div class="restaurant-rating">
    <% full_stars = saved_restaurant.restaurant.rating.floor %>
    <% empty_stars = 5 - full_stars %>
    <% full_stars.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
    <% empty_stars.times do %>
      <i class="fa-regular fa-star"></i>
    <% end %>
  </div>
</div>
