<div class="review-card">
  <p><%= saved_restaurant.restaurant.name %></p>
  <p><%= review.content %></p>
  <p><%= review.user_rating %></p>
  <p>Posté le <%= review.created_at.strftime("%d/%m/%Y") %></p>
</div>
