@media screen and (max-width: 767px) {
  .photos-feed-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px;
  }

  .photo-feed-card {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    padding: 10px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
  }

  .photo-feed-image {
    height: 151px;
  }

  .photo-feed-title {

  }

  .photo-feed-text {

  }
}
