@media screen and (max-width: 767px) {
  .photos-feed-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
  }

  .photo-feed-card {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
  }

  .photo-feed-image {
    max-height: 100px;
    width: 110px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .photo-feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    flex: 1;
  }

  .photo-feed-title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .photo-feed-text {
    margin: 5px 0;
  }

  .review-feed-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review-feed-time {
    margin: 0;
    text-align: right;
  }
}
