@media screen and (max-width: 767px) {
  .reviews-feed-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
  }

  .review-feed-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
  }

  .review-feed-image {
    height: 151px;
    width: 110px;
  }

  .review-feed-title {

  }

  .review-feed-text {

  }
}
