@media screen and (max-width: 767px) {
  .restaurant-feed-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
  }

  .restaurant-feed-card {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
    padding: 5px;
  }

  .map-restaurant-feed-card {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
    padding: 5px;
  }

  .research-restaurant-feed-card {
    display: flex;
    width: 90%;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
  }

  .restaurant-feed-image {
    max-height: 100%;
    width: 110px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .restaurant-feed-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    flex: 1;
  }

  .restaurant-feed-text-content {
    display: flex;
    flex-direction: column;
  }

  .restaurant-feed-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
  }

  .restaurant-feed-text {
    margin: 0px 0;
  }

  .restaurant-feed-time {
    align-self: flex-end;
    margin-top: auto;
    padding-right: 5px;
  }

  .restaurant-feed-address {
    font-size: 16px;
  }

  .restaurant-feed-category {
    color: #FF5631;
    font-weight: bold;
  }

  .feed-restaurant-card-rating{
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
}
