h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
  }

  .tagdiv {
    background-color: #FF5631;
    height: 47px;
    width: fit-content;
    display: flex;
    justify-content: center;  /* Alignement horizontal (optionnel) */
    align-items: center;
    border-radius: 5px;
  }

  .title{
    font-size: 30px !important;
  }

  .form-upload {
    border-radius: 8px;
  }

  .btn-photo {
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #FF5631;
    border: none;
  }

  .form-content {
    border-radius: 12px;
    background-color: white;
  }
}

.review_user_rating {
  margin: 0 !important;
}
