<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/dashboard/"><i class="fa-solid fa-heart"></i></a>
    <a href="/"><i class="fa-solid fa-bell"></i></a>
    <a href="/friendships/"><i class="fa-solid fa-user-group"></i></a>
  </div>
</div>
