<div class="feed-items">
  <% @feed_items.each do |item| %>
    <% if item.is_a?(SavedRestaurant) %>
      <%= render 'components/saved_restaurant_feed_card', saved_restaurant: item %>
    <% elsif item.is_a?(Review) %>
      <%= render 'components/review_feed_card', review: item %>
    <% elsif item.is_a?(Hash) && item[:photo].present? %>
      <%= render 'components/photo_feed_card', photo: item[:photo], saved_restaurant: item[:saved_restaurant] %>
    <% end %>
  <% end %>
</div>
