<h1>Pages#home</h1>

<div data-controller="reset">
  <%= render "search-bar" %>

  <% if params[:query].present? %>
    <div data-reset-target="list">
      <% if @restaurants.any? %>
          <% @restaurants.each do |restaurant| %>
            <p><%= restaurant.name %></p>
          <% end %>
      <% else %>
        <p>Sorry, no restaurant found.</p>
      <% end %>
    </div>
  <% else %>
    <p></p>
  <% end %>
  </div>
</div>
