<div data-controller="reset">
  <%# J'affiche ma partial search-bar %>
  <%= render "search-bar" %>
  <%# Je gère l'affichage des résultats %>
  <%# Si la valeur "query" dans params est présente %>
  <% if params[:query].present? %>
    <%# Je créé une div qui affichera mes résultats %>
    <div data-reset-target="list">
      <%# Si je trouve des restaurants dans les résultats de ma recherche %>
      <% if @restaurants.any? %>
          <%# Alors je fais une itération sur "@restaurants" %>
          <% @restaurants.each do |restaurant| %>
            <%# Et pour chaque "restaurant", j'affiche les infos (name et address), la possibilité de l'ajouter à une collection via l'icon %>
            <%# et le lien cers la show du restaurant %>
            <p><%= link_to restaurant.name, restaurant_path(restaurant) %><i class="fa-solid fa-bookmark"></i></p>
          <% end %>
      <%# Sinon %>
      <% else %>
        <%# On affiche le message suivant %>
        <p>Sorry, no restaurant found.</p>
      <% end %>
    </div>
  <% end %>
</div>

<h1><%= link_to @collection.name, collections_path() %> </h1>
<%# Création d'une div afin d'afficher la collection "Favorites" %>
<div>
  <%# Je fais une itération sur "@restaurants" %>
  <% @collection.saved_restaurants.each do |saved_restaurant| %>
    <%# Et pour chaque "saved_restaurant", je créé un lien qui me renvoie vers la show du restaurant %>
    <p><%= link_to saved_restaurant.restaurant.name, restaurant_path(saved_restaurant.restaurant) %></p>
  <% end %>
</div>

<h1>Recommended</h1>
