<h1><%= @restaurant.name %></h1>
<%= link_to "New saved", new_saved_restaurant_path , class: "bouton-large" %>
<i class="bouton-icon fa-solid fa-bookmark"></i>
<%= render "components/restaurantDetails" %>
<%= link_to "Add a review", root_path, class: "bouton-large" %>
