@media screen and (max-width: 767px) {
  .bouton-large {
    text-decoration: none;
    display: flex;
    width: calc(100% - 40px);
    background-color: black;
    color: white;
    padding: 15px;
    margin: 20px;
    justify-content: center;
    border-radius: 10px;
  }

  .bouton-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
  }

  .btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: bold;
    opacity: 1;
  }

  //BTN LINK WITH NO STYLE
  .bouton-link {
    text-decoration: none;
    color: black;
  }

}
