.friend-cards {
  margin-top: 20px;
  width: 100%;
}

.friend-card {
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

.friend-card-avatar {
  height: 50px;
  width: 50px;
}

.friend-card-infos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.friend-card-info {
}

.friend-card-image{
  width: 50px;
  height: 50px;
}

.friend-card-btn{
  display: flex;
  gap: 10px;
}

.friend-btn-accept {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #39B90D;
}

.friend-btn-decline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #E52020;
}

.friend-btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.friend-btn-see {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #FF5631;
}

.friend-btn-icon{
  width: 20px;
  height: 20px;
}
