@media screen and (max-width: 767px) {
}
.carrousel {
  position: relative;
  margin-top: 80px;
}

.carrousel-image {
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 12px 12px;
}

.btn-position {
  position: absolute;
  top: 20px;
  right: 20px;
}

.carrousel-upload {
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
}
