.modal-content {
  border-radius: 10px;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.color-button, .emoji-button {
  width: 55px;
  height: 55px;
  border-radius: 10%;
  display: inline-block;
  cursor: pointer;
  border: 3px solid transparent;
  text-align: center;
  line-height: 55px; /* Centrer verticalement les émojis */
  background-color: #f0f0f0; /* Fond légèrement grisé */
  font-size: 30px; /* Taille de police pour les émojis */
}

.input-none:checked + .color-button, .input-none:checked + .emoji-button {
  border-color: #ff5530;
}

.input-none {
  display: none;
}

.colors-iteration, .emojis-iteration {
  margin-top: 20px;
}

.color-buttons, .emoji-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.modal-footer .btn {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.modal-footer .btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.modal-footer .btn-primary {
  background-color: #ff5530;
  color: white;
}
