.navbar-container {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: solid 1px #EBEBEB;
  z-index: 1000;
  position: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand img {
  height: 40px;
}

.navbar-profil {
  margin-left: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
