.profil-header {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  gap: 20px;
}

.profil-header-image {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.profil-data {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
}

.profil-data-item{
  border: solid 1px #EBEBEB;
  border-radius: 10px;
  width: 109px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.profil-data-number {
  font-size: 22px;
  font-weight: bold;
}

.profil-data-text {
  font-size: 14px;
}

.profil-header-btn {
  display: flex;
}

.profil-btn-large {
  background-color: #FF5631;
  border-radius: 5px;
  border: none;
  color: white;
  width: 125px;
  height: 37px;
  font-size: 14px;
}

.profil-btn-small{
  background-color: #FF5631;
  border-radius: 5px;
  border: none;
  color: white;
  width: 37px;
  height: 37px;
}

.profil-menu {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
}

.profil-menu-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profil-btn {
  background-color: white;
  border: none;
  width: 109px;
  height: 46px;
  flex: 1
}

.profil-content {
  margin-top: 20px;
}
