@media screen and (max-width: 767px) {
  .details-container {
    display: flex;
    flex-direction: column;
  }

  .details-list{
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
  }

  .detail {
    display: flex;
    align-items: center;
  }
}
