@media screen and (max-width: 767px) {
  .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px 20px 0px 20px,
  }

  .restaurant-card {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    padding: 10px;
    background-color: white;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
  }

  .restaurant-card-image {
    height: 151px;
    width: 100%;
    border-radius: 5px;
  }

  .restaurant-card-title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .restaurant-card-text {

  }

  .restaurant-card-rating{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
}
